.messaage-element-containter {
    display: flex;
    width:95%;
    margin: 0 auto;
}

.profile-picture {
    width: 5%;
}

.profile-picture img {
    width: 100%;
    border-radius: 50%;
    height: auto;
}

.messaage-element-containter.friend-user {
    justify-content: flex-end;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.messaage-element-containter .message-data {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.messaage-element-containter .message-info {
    width: 100%;
}

.message {
    display: flex;
    margin-top: 0;
    align-items: center;
}

.current-user .message.set {
    margin-left: 30px;
}

.friend-user .message.set {
    margin-right: 30px;
}

.message .icon.last {
    margin-top: 4px;
    margin-left: -9px;
}

.message .time {
    margin-left: 10px;
    color: rgba(0,0,0,.6);
    font-size: 11px;
}

.message .text {
    

    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 64%;
    max-width: 480px;

}