.main-container {
    display: flex;
    width: 50vw;
    height: 100vh;
}

.list-chat-container {
    width: 22%;
    background-color: #2f6997;
    color: #fff;
}

.body-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}