body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.root {
  display: flex;
}

img {
  width: 100%;
  height: auto;
}

span {
  width: 8px;
  height: 8px;
  /* background-color: black; */
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-block;
}

span.online {
  background-color: #00b347;
}

span.offline {
  border-radius: 1px solid #fff;
}   

.message .icon {
  margin-top: 4px;
  margin-left: 5px;
}

